@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="Test2" method="post">
    Number 1 : <input type="text" name="n1" value="@ViewBag.n1"/><br/>
    Number 2 : <input type="text" name="n2" value="@ViewBag.n2"/><br/>
    Sum : <input type="text" name="sum" value="@ViewBag.sum" disabled/><br/>
    <input type="submit" value="submit"/>
</form>