
@{
    ViewData["Title"] = "user_registration";
}

<center>
    <h2> Register here! </h2>
</center>
<form action="#" method="get">
    <center>
        <table style="font-size: large; ">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" name="name" required>
                </td>
            </tr>
            <tr>
                <td>
                    Phone no
                </td>
                <td>
                    <input type="text" name="phone_no" required>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="email" name="email" required>
                </td>
            </tr>
            <tr>
                <td>
                    Address
                </td>
                <td>
                    <textarea name="address" required></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="password" name="password" required>
                </td>
            </tr>
            <tr>
                <td>
                    Confirm Password
                </td>
                <td>
                    <input type="password" name="confirm_password" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Register">
                </td>
                <td>
                    <input type="reset">
                </td>
            </tr>
        </table>
        <table style="font-family: cursive; font-size: medium;padding-top: 20px;color: rgb(248, 246, 246);">
            <tr>
                <td>
                    <a href="index.html" style="color: rgb(250, 245, 245);">Go to Login page</a>
                </td>
            </tr>
        </table>
    </center>
</form>